@use "../../styles/variables" as *;
<<<<<<< HEAD
@use "../../styles/media" as *;
=======
>>>>>>> 867737a41154b39644cdce3ce8476d5bc307d810

footer {
  position: static;
  bottom: 0;
  width: 100%;
  box-shadow: $box-shadow;
  padding: $p-1-5;
  text-align: center;
  pointer-events: none;
<<<<<<< HEAD
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

=======
>>>>>>> 867737a41154b39644cdce3ce8476d5bc307d810
  p {
    color: $grey-400;
    margin: 0;
  }
  a {
    color: $blue-950;
    text-decoration: none;
    pointer-events: auto;
    @include transition;

    &:hover {
      color: $blue;
    }
  }
}
