@use "./styles/variables" as *;
@use "./styles/media" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
}

body {
  font-family: $font-primary;
  background: $white;
  color: $blue-950;
  width: 100%;
  position: relative;
}
<<<<<<< HEAD
=======

.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $p-1-5;
  min-height: 100vh;

  h1 {
    font-size: 25rem;
    background: linear-gradient(
      135deg,
      rgb(79, 70, 229) 0%,
      rgb(124, 58, 237) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  p {
    font-size: 18px;
    color: $grey-400;
  }
  .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $p-0-5 $p-1;
    border-radius: 999px;
    background: rgba($blue, 0.1);
    color: $blue;
    font-weight: 600;

    @include transition;

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}
>>>>>>> 867737a41154b39644cdce3ce8476d5bc307d810
