@use "../../styles/variables" as *;

.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    max-width: 100%;
    object-fit: contain;
  }

  .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $p-0-5 $p-1;
    border-radius: 9px;
    background: rgba($blue, 0.1);
    color: $blue;
    font-weight: 600;
    font-size: 32px;

    @include transition;

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}
